Machine learning

Dans ce cours vous aurez les bases du Machine Learning (apprentissage automatique à partir de données).
Création de modèles de prédiction et de classification en Python avec des algorithmes de Machine Learning (branche de la Data Science)

Apprendre à construire, optimiser puis déployer des modèles prédictifs avec la librairie scikit-learn

Apprentissage des mécanismes des algorithmes des K Nearest neighbors (k plus proche voisins). Régression linéaire, régression logistique et algorithme des k-mean clistering.

Apprentissage à évaluer la qualité et précision de ces modèles via des métriques d'erreurs. La validation croisée et l'optimisation d'hyper paramètres.

Rappel : 
    - Les fondamentaux du Machine Learning avec le langage Python
    - L'algorithme des k plus proches voisin (k Nearest Neighbors)
    - Création et évaluation de la qualité de modèles en tout genre.
    - Validation croisé holdout et des k-fold.
    - Régression linéaire.
    - Clustering des k-mean
    - Classification simple & multiple
    - Réseaux de neuronnes

Installation d'Anaconda (logiquement c'est bon ;-) sinon vous ne seriez pas ici )

![title](1.png)

Lancer anaconda navigator

Choix de l'environnement "base"(root)

![title](2.png)

Sélection : open terminal

Le termninal s'ouvre et il faudra donc installer quelques librairies :
- pip install scipy
- pip install sklearn
- pip install seaborn
- pip install pandas
- pip install numpy
- pip install matplotlib

![title](3.png)

Ouverture de Jupyter
- Choix du dossier (création possible)
- Mon dossier machine_learning contiendra mes notebook et mon dossier dataset ... mes dataset
- Clic sur "nouveau" en haut à droite puis Python3

La page du notebook s'ouvre il est temps de commencer notre initiation.
- Nous commencerons par un petit rappel.
- Une explication sur le machine learning
- Présentation du projet

In [2]:
# Importation des librairies pandas et numpy
import pandas as pd
import numpy as np

In [3]:
# Rappel : les "as" sont des abréviations pour nous éviter de tout écrire à chaque fois.
# Rappel : pour valider : shift + entrée

Création d'un tableau Dataframe
La variable airbnb recevra via la méthode read_csv de pandas paris_airbnb.csv

In [4]:
airbnb = pd.read_csv('dataset/paris_airbnb.csv')

Plusieurs choix pour afficher le Dataframe :
- airbnb
- airbnb[0:10] Affiche moi les lignes 0, 1, 2, 3, 4, 5, 6, 7, 8, 9 Attention ça commence toujours par 0
- airbnb.iloc[0:10]
- airbnb.head() affiche par défaut les 5 premières lignes
- airbnb.tail() affiche les 5 dernières lignes

In [6]:
# exemple :
airbnb.head(10)
# affichage des 10 lignes

,host_response_rate,host_acceptance_rate,host_listings_count,latitude,longitude,city,zipcode,state,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews
0,100%,NaN,1.0,48.83349,2.31852,Paris,75014,Île-de-France,2,Entire home/apt,0.0,1.0,0.0,$75.00,$50.00,$0.00,3,15,8
1,100%,NaN,1.0,48.85100,2.35869,Paris,75004,Ile-de-France,2,Entire home/apt,0.0,1.0,1.0,$115.00,$36.00,$0.00,1,90,173
2,100%,NaN,2.0,48.85758,2.35275,Paris,75004,Île-de-France,4,Entire home/apt,2.0,1.0,2.0,$115.00,$50.00,$200.00,10,23,243
3,100%,NaN,1.0,48.86528,2.39326,Paris,75020,Ile-de-France,3,Entire home/apt,1.0,1.0,1.0,$90.00,NaN,NaN,3,365,1
4,67%,NaN,3.0,48.85899,2.34735,Paris,75001,Île-de-France,2,Entire home/apt,1.0,1.0,1.0,$75.00,$200.00,"$1,500.00",180,365,0
5,100%,NaN,1.0,48.86227,2.37134,Paris,75011,Ile-de-France,2,Entire home/apt,1.0,1.0,1.0,$75.00,$20.00,$250.00,5,120,17
6,NaN,NaN,4.0,48.88902,2.34656,Paris,75018,Ile-de-France,4,Entire home/apt,NaN,1.0,1.0,$80.00,$36.00,$800.00,90,730,42
7,NaN,NaN,4.0,48.88918,2.34490,Paris,75018,Ile-de-France,3,Entire home/apt,NaN,1.0,1.0,$75.00,NaN,$400.00,30,730,16
8,100%,NaN,1.0,48.87900,2.31608,Paris,75008,Ile-de-France,4,Entire home/apt,1.0,1.0,2.0,$90.00,$60.00,$600.00,3,730,40
9,100%,NaN,2.0,48.84670,2.35095,Paris,75005,Île-de-France,2,Entire home/apt,0.0,1.0,1.0,$75.00,NaN,NaN,2,1125,336

Pour afficher les informations de Dataframe :
- dataframe.info()

In [7]:
# exemple :
airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   host_response_rate    5000 non-null   object
 1   host_acceptance_rate  0 non-null      float64
 2   host_listings_count   7999 non-null   float64
 3   latitude              8000 non-null   float64
 4   longitude             8000 non-null   float64
 5   city                  7997 non-null   object
 6   zipcode               7930 non-null   object
 7   state                 7977 non-null   object
 8   accommodates          8000 non-null   int64
 9   room_type             8000 non-null   object
 10  bedrooms              7976 non-null   float64
 11  bathrooms             7942 non-null   float64
 12  beds                  7986 non-null   float64
 13  price                 8000 non-null   object
 14  cleaning_fee          6250 non-null   object
 15  security_deposit      6320 non-null   object
 16  minimum_nights        8000 non-null   int64
 17  maximum_nights        8000 non-null   int64
 18  number_of_reviews     8000 non-null   int64
dtypes: float64(7), int64(4), object(8)
memory usage: 1.2+ MB

Regardons les informations : 
- 18 colonnes donc 18 object series 
- column : le nom des colonnes
- non-null count : nombre de valeurs non null 
- Dtype : type

#### Nous venons de voir des fonctions qui s'appliquent à un Dataframe mais il existe aussi des fonctions pour les objects series.

Un object series est une sorte de liste ou de vecteur (une colonne du Dataframe). Par exemple airbnb['beds'] affichera un object series (la colonne beds)

In [8]:
airbnb['beds']

0       0.0
1       1.0
2       2.0
3       1.0
4       1.0
       ...
7995    1.0
7996    2.0
7997    1.0
7998    1.0
7999    3.0
Name: beds, Length: 8000, dtype: float64

In [9]:
# Pour être sur et certain
type(airbnb['beds'])

pandas.core.series.Series

In [10]:
# Sélection de deux colonnes
airbnb[['beds', 'bedrooms']]

      beds  bedrooms
0      0.0       0.0
1      1.0       0.0
2      2.0       2.0
3      1.0       1.0
4      1.0       1.0
...    ...       ...
7995   1.0       0.0
7996   2.0       1.0
7997   1.0       1.0
7998   1.0       NaN
7999   3.0       1.0

[8000 rows x 2 columns]

In [11]:
# nouvelle vérification
type(airbnb[['beds', 'bedrooms']])

pandas.core.frame.DataFrame

Ici il s'agit d'un Dataframe et non d'un object series, pourquoi ? il y a deux colonnes

In [12]:
# Pour calculer la moyenne de lits et de chambres pour un Dataframe.
airbnb[['beds', 'bedrooms']].mean()

beds        1.753068
bedrooms    1.248370
dtype: float64

##### Attention pour un object series il faut utiliser numpy

In [13]:
np.mean(airbnb['beds'])

1.753067868770348

### Concept de boucle

Nous allons chercher les colonnes qui sont de types float avec l'attribut .columns qui nous retournera le nom des colonnes. L'attribut to_list() lui nous retournera une liste de toutes les colonnes.

In [15]:
airbnb_cols = airbnb.select_dtypes(include=['float']).columns.to_list()

In [16]:
airbnb_cols

['host_acceptance_rate',
 'host_listings_count',
 'latitude',
 'longitude',
 'bedrooms',
 'bathrooms',
 'beds']

Nous avons donc une liste des colonnes qui sont de types "float"