Machine learning

Dans ce cours vous aurez les bases du Machine Learning (apprentissage automatique à partir de données).
Création de modèles de prédiction et de classification en Python avec des algorithmes de Machine Learning (branche de la Data Science)

Apprendre à construire, optimiser puis déployer des modèles prédictifs avec la librairie scikit-learn

Apprentissage des mécanismes des algorithmes des K Nearest neighbors (k plus proche voisins). Régression linéaire, régression logistique et algorithme des k-mean clistering.

Apprentissage à évaluer la qualité et précision de ces modèles via des métriques d'erreurs. La validation croisée et l'optimisation d'hyper paramètres.

Rappel : 
- Les fondamentaux du Machine Learning avec le langage Python
- L'algorithme des k plus proches voisin (k Nearest Neighbors)
- Création et évaluation de la qualité de modèles en tout genre.
- Validation croisé holdout et des k-fold.
- Régression linéaire.
- Clustering des k-mean
- Classification simple & multiple
- Réseaux de neuronnes

Installation d'Anaconda (logiquement c'est bon ;-) sinon vous ne seriez pas ici )

![title](1.png)

Lancer anaconda navigator

Choix de l'environnement "base"(root)

![title](2.png)

Sélection : open terminal

Le termninal s'ouvre et il faudra donc installer quelques librairies :
- pip install scipy
- pip install sklearn
- pip install seaborn
- pip install pandas
- pip install numpy
- pip install matplotlib

![title](3.png)

Ouverture de Jupyter
- Choix du dossier (création possible)
- Mon dossier machine_learning contiendra mes notebook et mon dossier dataset ... mes dataset
- Clic sur "nouveau" en haut à droite puis Python3

La page du notebook s'ouvre il est temps de commencer notre initiation.
- Nous commencerons par un petit rappel.
- Une explication sur le machine learning
- Présentation du projet

In [2]:
# Importation des librairies pandas et numpy
import pandas as pd
import numpy as np

In [3]:
# Rappel : les "as" sont des abréviations pour nous éviter de tout écrire à chaque fois.
# Rappel : pour valider : shift + entrée

Création d'un tableau Dataframe
La variable airbnb recevra via la méthode read_csv de pandas paris_airbnb.csv

In [4]:
airbnb = pd.read_csv('dataset/paris_airbnb.csv')

Plusieurs choix pour afficher le Dataframe :
- airbnb
- airbnb[0:10] Affiche moi les lignes 0, 1, 2, 3, 4, 5, 6, 7, 8, 9 Attention ça commence toujours par 0
- airbnb.iloc[0:10]
- airbnb.head() affiche par défaut les 5 premières lignes
- airbnb.tail() affiche les 5 dernières lignes

In [5]:
# exemple :
airbnb.head(10)
# affichage des 10 lignes

,host_response_rate,host_acceptance_rate,host_listings_count,latitude,longitude,city,zipcode,state,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews
0,100%,NaN,1.0,48.83349,2.31852,Paris,75014,Île-de-France,2,Entire home/apt,0.0,1.0,0.0,$75.00,$50.00,$0.00,3,15,8
1,100%,NaN,1.0,48.85100,2.35869,Paris,75004,Ile-de-France,2,Entire home/apt,0.0,1.0,1.0,$115.00,$36.00,$0.00,1,90,173
2,100%,NaN,2.0,48.85758,2.35275,Paris,75004,Île-de-France,4,Entire home/apt,2.0,1.0,2.0,$115.00,$50.00,$200.00,10,23,243
3,100%,NaN,1.0,48.86528,2.39326,Paris,75020,Ile-de-France,3,Entire home/apt,1.0,1.0,1.0,$90.00,NaN,NaN,3,365,1
4,67%,NaN,3.0,48.85899,2.34735,Paris,75001,Île-de-France,2,Entire home/apt,1.0,1.0,1.0,$75.00,$200.00,"$1,500.00",180,365,0
5,100%,NaN,1.0,48.86227,2.37134,Paris,75011,Ile-de-France,2,Entire home/apt,1.0,1.0,1.0,$75.00,$20.00,$250.00,5,120,17
6,NaN,NaN,4.0,48.88902,2.34656,Paris,75018,Ile-de-France,4,Entire home/apt,NaN,1.0,1.0,$80.00,$36.00,$800.00,90,730,42
7,NaN,NaN,4.0,48.88918,2.34490,Paris,75018,Ile-de-France,3,Entire home/apt,NaN,1.0,1.0,$75.00,NaN,$400.00,30,730,16
8,100%,NaN,1.0,48.87900,2.31608,Paris,75008,Ile-de-France,4,Entire home/apt,1.0,1.0,2.0,$90.00,$60.00,$600.00,3,730,40
9,100%,NaN,2.0,48.84670,2.35095,Paris,75005,Île-de-France,2,Entire home/apt,0.0,1.0,1.0,$75.00,NaN,NaN,2,1125,336

Pour afficher les informations de Dataframe :
- dataframe.info()

In [6]:
# exemple :
airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   host_response_rate    5000 non-null   object
 1   host_acceptance_rate  0 non-null      float64
 2   host_listings_count   7999 non-null   float64
 3   latitude              8000 non-null   float64
 4   longitude             8000 non-null   float64
 5   city                  7997 non-null   object
 6   zipcode               7930 non-null   object
 7   state                 7977 non-null   object
 8   accommodates          8000 non-null   int64
 9   room_type             8000 non-null   object
 10  bedrooms              7976 non-null   float64
 11  bathrooms             7942 non-null   float64
 12  beds                  7986 non-null   float64
 13  price                 8000 non-null   object
 14  cleaning_fee          6250 non-null   object
 15  security_deposit      6320 non-null   object
 16  minimum_nights        8000 non-null   int64
 17  maximum_nights        8000 non-null   int64
 18  number_of_reviews     8000 non-null   int64
dtypes: float64(7), int64(4), object(8)
memory usage: 1.2+ MB

Regardons les informations : 
- 18 colonnes donc 18 object series 
- column : le nom des colonnes
- non-null count : nombre de valeurs non null 
- Dtype : type

#### Nous venons de voir des fonctions qui s'appliquent à un Dataframe mais il existe aussi des fonctions pour les objects series.

Un object series est une sorte de liste ou de vecteur (une colonne du Dataframe). Par exemple airbnb['beds'] affichera un object series (la colonne beds)

In [7]:
airbnb['beds']

0       0.0
1       1.0
2       2.0
3       1.0
4       1.0
       ...
7995    1.0
7996    2.0
7997    1.0
7998    1.0
7999    3.0
Name: beds, Length: 8000, dtype: float64

In [8]:
# Pour être sur et certain
type(airbnb['beds'])

pandas.core.series.Series

In [9]:
# Sélection de deux colonnes
airbnb[['beds', 'bedrooms']]

      beds  bedrooms
0      0.0       0.0
1      1.0       0.0
2      2.0       2.0
3      1.0       1.0
4      1.0       1.0
...    ...       ...
7995   1.0       0.0
7996   2.0       1.0
7997   1.0       1.0
7998   1.0       NaN
7999   3.0       1.0

[8000 rows x 2 columns]

In [10]:
# nouvelle vérification
type(airbnb[['beds', 'bedrooms']])

pandas.core.frame.DataFrame

Ici il s'agit d'un Dataframe et non d'un object series, pourquoi ? il y a deux colonnes

In [11]:
# Pour calculer la moyenne de lits et de chambres pour un Dataframe.
airbnb[['beds', 'bedrooms']].mean()

beds        1.753068
bedrooms    1.248370
dtype: float64

##### Attention pour un object series il faut utiliser numpy

In [12]:
np.mean(airbnb['beds'])

1.753067868770348

### Concept de boucle

Nous allons chercher les colonnes qui sont de types float avec l'attribut .columns qui nous retournera le nom des colonnes. L'attribut to_list() lui nous retournera une liste de toutes les colonnes.

In [13]:
airbnb_cols = airbnb.select_dtypes(include=['float']).columns.to_list()

In [14]:
airbnb_cols

['host_acceptance_rate',
 'host_listings_count',
 'latitude',
 'longitude',
 'bedrooms',
 'bathrooms',
 'beds']

Nous avons donc une liste des colonnes qui sont de types "float"

In [15]:
# Commençons la boucle :

for col in airbnb_cols:
    print(col)

host_acceptance_rate
host_listings_count
latitude
longitude
bedrooms
bathrooms
beds

col est une variable itératrice, nous pouvons la remplacer par i, x, y ... presque ce que vous voulez. Au final il faut juste du bon sens.

Au premier passage de col, il vaudra host_acceptance, ensuite col vaudra host_listings_count ... etc etc

In [21]:
for col in airbnb_cols:
    calc_mean = np.mean(airbnb[col])
    print('moyenne de la colonne ' + col + '.', calc_mean)

moyenne de la colonne host_acceptance_rate. nan
moyenne de la colonne host_listings_count. 7.025878234779348
moyenne de la colonne latitude. 48.86456040249989
moyenne de la colonne longitude. 2.3487392574999952
moyenne de la colonne bedrooms. 1.248370110330993
moyenne de la colonne bathrooms. 1.12849408209519
moyenne de la colonne beds. 1.753067868770348

Nous affichons via le "print" moyenne de la colonne "col" (col est la variable itératrice qui nous donne les noms des colonnes). La variable calc_mean donne comme résultat la moyenne via la fonction mean() de numpy (np chez nous) La moyenne des colonnes "col" de airbnb_cols mais cette fois ci dans airbnb.

### Concept de fonction

In [24]:
def split_func(df):
    return 0

# La fonction se nome split_func et elle attend un Dataframe en argument. Cette dernière doit retourner 0 dans ce cas

In [25]:
# Création d'une fonction qui va séparer notre Dataframe en deux moitiés égales.

def split_func(df):
    df1 = df.loc[0:len(df)/2]
    # Dataframe.loc : Accédez à un groupe de lignes et de colonnes par libellé(s) ou par un tableau booléen.
    # [de 0 : à la longueur de df divisé par deux]
    df2 = df.loc[len(df)/2:]
    # celui-ci prendra de la moitié jusqu'a la fin du Dataframe
    return(df1, df2)

In [26]:
df1, df2 = split_func(airbnb)
# cela fonctionne également avec : airbnb1, airbnb2 = split_func(airbnb)

In [30]:
df1.info
# airbnb1.info

<bound method DataFrame.info of      host_response_rate  host_acceptance_rate  host_listings_count  latitude  \
0                  100%                   NaN                  1.0  48.83349
1                  100%                   NaN                  1.0  48.85100
2                  100%                   NaN                  2.0  48.85758
3                  100%                   NaN                  1.0  48.86528
4                   67%                   NaN                  3.0  48.85899
...                 ...                   ...                  ...       ...
3996               100%                   NaN                  1.0  48.86093
3997               100%                   NaN                  1.0  48.88039
3998               100%                   NaN                  1.0  48.86778
3999               100%                   NaN                  1.0  48.87586
4000               100%                   NaN                  1.0  48.85124

      longitude   city zipcode          state  accommodates        room_type  \
0       2.31852  Paris   75014  Île-de-France             2  Entire home/apt
1       2.35869  Paris   75004  Ile-de-France             2  Entire home/apt
2       2.35275  Paris   75004  Île-de-France             4  Entire home/apt
3       2.39326  Paris   75020  Ile-de-France             3  Entire home/apt
4       2.34735  Paris   75001  Île-de-France             2  Entire home/apt
...         ...    ...     ...            ...           ...              ...
3996    2.38461  Paris   75011  Île-de-France             2  Entire home/apt
3997    2.36356  Paris   75010  Île-de-France             2  Entire home/apt
3998    2.39172  Paris   75020  Île-de-France             2  Entire home/apt
3999    2.37266  Paris   75010  Île-de-France             4  Entire home/apt
4000    2.34941  Paris   75005  Île-de-France             3  Entire home/apt

      bedrooms  bathrooms  beds    price cleaning_fee security_deposit  \
0          0.0        1.0   0.0   $75.00       $50.00            $0.00
1          0.0        1.0   1.0  $115.00       $36.00            $0.00
2          2.0        1.0   2.0  $115.00       $50.00          $200.00
3          1.0        1.0   1.0   $90.00          NaN              NaN
4          1.0        1.0   1.0   $75.00      $200.00        $1,500.00
...        ...        ...   ...      ...          ...              ...
3996       1.0        1.0   1.0   $50.00       $30.00          $200.00
3997       1.0        1.0   1.0   $59.00          NaN          $100.00
3998       1.0        1.0   2.0   $50.00        $5.00            $0.00
3999       1.0        1.0   2.0   $68.00       $45.00          $200.00
4000       0.0        1.0   3.0   $69.00       $20.00          $300.00

      minimum_nights  maximum_nights  number_of_reviews
0                  3              15                  8
1                  1              90                173
2                 10              23                243
3                  3             365                  1
4                180             365                  0
...              ...             ...                ...
3996              90            1124                 18
3997               4              14                 10
3998               1              14                  8
3999               3            1125                 70
4000               3              31                243

[4001 rows x 19 columns]>

In [31]:
df2.info

<bound method DataFrame.info of      host_response_rate  host_acceptance_rate  host_listings_count  latitude  \
4000               100%                   NaN                  1.0  48.85124
4001                79%                   NaN                  2.0  48.85128
4002               100%                   NaN                  2.0  48.84845
4003                NaN                   NaN                  1.0  48.84287
4004                NaN                   NaN                  1.0  48.87915
...                 ...                   ...                  ...       ...
7995               100%                   NaN                  2.0  48.87901
7996                NaN                   NaN                  1.0  48.88903
7997               100%                   NaN                  1.0  48.85313
7998                NaN                   NaN                  1.0  48.88066
7999               100%                   NaN                  2.0  48.85760

      longitude   city zipcode          state  accommodates        room_type  \
4000    2.34941  Paris   75005  Île-de-France             3  Entire home/apt
4001    2.38729  Paris   75011  Île-de-France             5  Entire home/apt
4002    2.31757  Paris   75007  Île-de-France             2  Entire home/apt
4003    2.30827  Paris   75015  Île-de-France             1     Private room
4004    2.29128  Paris   75017  Île-de-France             2  Entire home/apt
...         ...    ...     ...            ...           ...              ...
7995    2.29526  Paris   75017  Île-de-France             2  Entire home/apt
7996    2.35271  Paris   75018  Île-de-France             4  Entire home/apt
7997    2.34146  Paris   75006  Île-de-France             2  Entire home/apt
7998    2.33639  Paris   75009  Île-de-France             2  Entire home/apt
7999    2.39946  Paris   75020  Île-de-France             6  Entire home/apt

      bedrooms  bathrooms  beds    price cleaning_fee security_deposit  \
4000       0.0        1.0   3.0   $69.00       $20.00          $300.00
4001       2.0        1.5   2.0  $114.00       $30.00          $800.00
4002       1.0        1.0   1.0  $230.00       $30.00          $500.00
4003       1.0        1.0   1.0   $40.00        $7.00              NaN
4004       0.0        1.0   1.0   $88.00          NaN              NaN
...        ...        ...   ...      ...          ...              ...
7995       0.0        1.0   1.0   $55.00       $45.00          $400.00
7996       1.0        1.0   2.0   $60.00       $20.00          $100.00
7997       1.0        1.0   1.0   $60.00       $30.00            $0.00
7998       NaN        1.0   1.0   $58.00          NaN          $200.00
7999       1.0        1.0   3.0   $40.00       $35.00          $300.00

      minimum_nights  maximum_nights  number_of_reviews
4000               3              31                243
4001               2            1125                 68
4002               3              40                  3
4003               1            1125                  2
4004               2            1125                 12
...              ...             ...                ...
7995             150            1125                  0
7996               3            1125                  4
7997               2              10                 25
7998               3               9                 57
7999               4            1125                 49

[4000 rows x 19 columns]>

Nous remarquons bien que df1 est la première moitié du Dataframe, df2 la seconde.

In [32]:
# Une autre fonction

def add_hundred(x):
    return x+100

airbnb[airbnb_cols].apply(add_hundred)
# Cette fonction ajoute 100 à toutes les colonnes.

,host_acceptance_rate,host_listings_count,latitude,longitude,bedrooms,bathrooms,beds
0,NaN,101.0,148.83349,102.31852,100.0,101.0,100.0
1,NaN,101.0,148.85100,102.35869,100.0,101.0,101.0
2,NaN,102.0,148.85758,102.35275,102.0,101.0,102.0
3,NaN,101.0,148.86528,102.39326,101.0,101.0,101.0
4,NaN,103.0,148.85899,102.34735,101.0,101.0,101.0
...,...,...,...,...,...,...,...
7995,NaN,102.0,148.87901,102.29526,100.0,101.0,101.0
7996,NaN,101.0,148.88903,102.35271,101.0,101.0,102.0
7997,NaN,101.0,148.85313,102.34146,101.0,101.0,101.0
7998,NaN,101.0,148.88066,102.33639,NaN,101.0,101.0
7999,NaN,102.0,148.85760,102.39946,101.0,101.0,103.0

Utilisation ici de .apply() avec la fonction add_hundred

In [33]:
# Seconde méthode mais avec une lambda (c'est cool les lambda ;-) )
airbnb[airbnb_cols].apply(lambda x: x + 300)

,host_acceptance_rate,host_listings_count,latitude,longitude,bedrooms,bathrooms,beds
0,NaN,301.0,348.83349,302.31852,300.0,301.0,300.0
1,NaN,301.0,348.85100,302.35869,300.0,301.0,301.0
2,NaN,302.0,348.85758,302.35275,302.0,301.0,302.0
3,NaN,301.0,348.86528,302.39326,301.0,301.0,301.0
4,NaN,303.0,348.85899,302.34735,301.0,301.0,301.0
...,...,...,...,...,...,...,...
7995,NaN,302.0,348.87901,302.29526,300.0,301.0,301.0
7996,NaN,301.0,348.88903,302.35271,301.0,301.0,302.0
7997,NaN,301.0,348.85313,302.34146,301.0,301.0,301.0
7998,NaN,301.0,348.88066,302.33639,NaN,301.0,301.0
7999,NaN,302.0,348.85760,302.39946,301.0,301.0,303.0

#### C'est la fin de notre petit rappel pour l'utilisation d'un DataFrame. La prochaine partie sera la présentation de notre projet et l'utilisation du Machine Learning.